/* src/main/resources/static/AddProducts.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ACE2E1, #A64D79);
}

.add-products-container {
    background-color: #DC143C;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    font-weight: bold;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="button"] {
    background-color: #007bff;
}

button[type="button"]:hover {
    background-color: #0056b3;
}

button[type="submit"]:hover {
    background-color: #218838;
}

#responseMessage {
    margin-top: 20px;
    font-style: italic;
    font-weight: bold;
}

@media (max-width: 480px) {
    .add-products-container {
        padding: 15px;
        max-width: 100%;
    }

    .add-products-container h2 {
        font-size: 20px;
    }

    .add-products-container input,
    .add-products-container textarea {
        padding: 8px;
        font-size: 14px;
    }

    .add-products-container button {
        padding: 10px;
        font-size: 14px;
    }
}
